@font-face {
    font-family: 'LXGW WenKai Lite';
    src: url('LXGWWenKaiLite-Light.woff2') format('woff2'),
        url('LXGWWenKaiLite-Light.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

